[submodule "reference-impl"]
	path = blackbox-sys/upstream
	url = https://github.com/betaflight/blackbox-tools
	shallow = true

[submodule "logs/fc-blackbox"]
	path = .modules/fc-blackbox
	url = https://github.com/ilya-epifanov/fc-blackbox.git
	shallow = true

[submodule "logs/gimbal-ghost"]
	path = .modules/gimbal-ghost
	url = https://github.com/gimbal-ghost/gimbal-ghost.git
	shallow = true
